
# Build output
# Dependencies
# OS files
# PM2
# Runtime data
# Wrangler
# dotenv environment variables file
*.log
*.pid
*.pid.lock
*.seed
.DS_Store
.dev.vars
.env
.pm2/
.wrangler/
Thumbs.db
dist/
logs/
node_modules/
pids
